html, body {margin: 0; height: 100%; overflow: hidden}

.sunburst {
	display: none;
	background: url(media/sunburst.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar {
	border-bottom: 1px solid #000;
	padding: 20px 0;
	margin: 0 0 20px 0;
	background-color: #ffffff;
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	right: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
		overflow: hidden;
		float: right;
}

li {
	float: left;
	padding: 0 20px;
	display: inline;
	vertical-align: middle;
	line-height: 2rem;
}

li a {
	color: #000;
	text-decoration: none;
}

.brand {
	font-size: 2rem;
	margin-left: 1rem;
}

.footer {
	background-color: #ffffff;
	border-top: 1px solid #000;
	text-align: left;
	padding: 20px 100px;
	margin: 20px 0 0 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
}

.nulla {
  height: 150px;
	display: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.big {
  animation-name: godSays;
  animation-duration: 3s;
}

@keyframes godSays {
    0%   {transform: scale(0,0);}
    50%  {transform: scale(2,2);}
    100% {transform: scale(0,0);}
}
